@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white dark:bg-gray-900 text-black dark:text-white;
}

.messagebox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-blue-100 h-screen w-screen;
}

.messagebox {
    @apply bg-white p-8 rounded-3xl max-w-md max-h-96 overflow-y-auto;
}

.btn {
    @apply w-full rounded-full bg-blue-500 hover:bg-blue-600 hover:shadow-lg transition-all duration-100 p-2 text-white text-center;
}

.btn-icon-only {
    @apply rounded-full bg-blue-500 hover:bg-blue-600 hover:shadow-lg transition-all duration-100 p-2 text-white flex justify-center items-center;
}

a.inline {
    @apply text-blue-500 hover:underline;
}

h1 {
    @apply font-display text-3xl font-bold;
}

h2 {
    @apply font-display text-2xl font-bold;
}

h3 {
    @apply font-display text-xl font-bold;
}

.secondary {
    @apply text-gray-800 dark:text-gray-400;
}

.container {
    @apply p-8 lg:p-16 xl:p-24 2xl:p-32;
}

.btn-icon {
    @apply mr-2 h-5 w-5;
}

.btn-guide-icon {
    @apply -mr-1 mt-0.5 ml-2 h-4 w-4;
}

.tr {
    @apply bg-white dark:border-gray-700 dark:bg-gray-800;
}

.th {
    @apply whitespace-nowrap font-medium text-gray-900 dark:text-white;
}
